.sidebar {
  flex: 0 0 20%;
  border-right: 1px solid gray;
  padding: 10px;
}
.content {
  text-align: center;
  padding: 10px;
  flex-grow: 1;
}

line,
circle.focus {
  pointer-events: none;
}

line.focus {
  stroke-width: 1px;
}
