#content {
  height: 100vh;
  overflow-y: scroll;
  max-width: 100vw;
}

.container {
  height: 100%;
  display: flex;
}

/* for some reason semantic menus have default margin */
.ui.item.menu {
  margin: 0;
}

.bubble {
  fill: orange;
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}

.box {
  fill: white;
  stroke: orange;
  stroke-width: 2px;
}
